{% extends 'base.html' %}

{% block title %} Articles List {% endblock %}

{% block content %}

    {% for i in articles %}
        <article>
            <h1 class="text-info text-center">
                <a class="text-decoration-none" href="{% url 'blog:detail' i.slug %}">{{ i.title }}</a>
            </h1>
            <h4 class="text-primary">
                Author: <span class="text-black">{{ i.author }}</span>
            </h4>
            <h5 class="text-primary small">
                Created at: <span class="text-black">{{ i.created }}</span>
            </h5>

            <h5 class="text-primary small">
                Published at: <span class="text-black">{{ i.publish }}</span>
            </h5>

            <h5 class="text-primary small">
                Updated at: <span class="text-black">{{ i.updated }}</span>
            </h5>
{#            <h6 class="text-primary">Content of this article: </h6>#}
            <p>{{ i.content|truncatewords:20 }}</p>
            <hr>
            <br>
        </article>
    {% endfor %}
    <p class="text-danger">For more content and information of this article, please click on the title of this article that got to details...</p>

{% endblock %}